* {padding: 0; margin: 0; box-sizing: border-box;}

:root{
    font-size:62.5%;

    --body-bg-color: #ffff;
    --controls-color:black ;
    --fc-timer: black;

    --bg-color-cards-click:#02799D;
    --bg-color-card: #E1E1E6;

    --fill-color: black;
    --fill-color-click: #ffff;

    --slider-color: #323238;

}

body.dark{
    --body-bg-color: black;
    --controls-color:white;
    --fc-timer: white;

    --bg-color-cards-click:#0A3442;
    --bg-color-card: #29292E;

    --fill-color: #C4C4CC;
    --fill-color-click: #ffff;

    --slider-color: #ffff;


}

body{
    height: 100vh;

    display: grid;
    place-items: center;

    font-size: 12.6rem;

    background-color: var(--body-bg-color);
}

.themes{
    position: absolute;
    top: 0rem;
    right: 6.4rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;

    padding: 0 2rem;
}

button {
    border: none;
    background-color: transparent;

    transition: transform .3s
}

button:hover{
    transform: scale(1.1);
}

.controls{
    max-width: 31rem;

    animation: lefttoright .6s backwards;
}

#timer{
    font-family: 'Roboto' , sans-serif;
    
    display: flex;

    color: var(--fc-timer);
}


#buttons{
    display: flex;
    gap: 3rem;

    margin-top:4.8rem;
}


.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    max-width: 31rem;

    animation: uptodown .3s .6s backwards
}

.cards button {
    display: flex;
    flex-direction: column;

    position: relative;

}

.cards .slider{
    appearance: none;

    max-width: 9rem;
    height: .4rem;

    background-color:  var(--slider-color);
    border-radius: .5rem;

    position: absolute;
    bottom: 30px;
    left: 24px;

}

/* .slider::-ms-fill-lower{
    background-color: #02799D;
} */

input::-webkit-slider-thumb{
    appearance: none;

    background-color: var(--slider-color);
    width: 16px;
    height: 16px;

    border-radius: 50%;
}

.cards button.color input::-webkit-slider-thumb , 
.cards button.color .slider{
    background-color:  #ffff;
}


.cards button svg path:nth-child(1) {
    fill: var(--bg-color-card);
}

.cards button svg path:nth-child(2) {
    fill: var(--fill-color);

}

.cards button.color svg > path {
    fill: var(--bg-color-cards-click);
}

.cards button.color svg path:nth-child(2){
    fill: var(--fill-color-click);
}

.hide {
   display: none;
}


@media (min-width:760px){
    main{
        flex-direction: row;
        align-items: flex-start;
    }

    header{
        right: 6.4rem;
        top: 6.4rem;
    }

}

@keyframes lefttoright {
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes uptodown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}